pandas==2.2.2
Faker==33.1.0
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-text-splitters==0.3.3
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sentence-transformers==3.3.1